<a href="https://colab.research.google.com/github/mpintoponce/python_utec/blob/main/Modulo01%3AFundamentos/4.%20Estructuras_de_control_Repetitivas_I/Ejercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Listas

Ejercicio 1

Crear una lista con los nombres de 5 bancos.

In [ ]:
banks = ['BBVA', 'Scotibank', 'BCP', 'Pichincha', 'Interbank']
print(banks)

['BBVA', 'Scotibank', 'BCP', 'Pichincha', 'Interbank']

Ejercicio 2

Acceder al tercer banco de la lista.

In [ ]:
banks[3]

'Pichincha'

Ejercicio 3

Agregar un nuevo banco a la lista.

In [ ]:
banks.append("GNB")
print(banks)

['BBVA', 'Scotibank', 'BCP', 'Pichincha', 'Interbank', 'GNB']

Ejercicio 4

Eliminar el segundo banco.

In [ ]:
index = banks[2]
banks.remove(index)
print(banks)

['BBVA', 'Scotibank', 'Pichincha', 'Interbank', 'GNB']

Ejercicio 5

Ordenar alfab√©ticamente los bancos.

In [ ]:
banks.sort()
print(banks)

['BBVA', 'GNB', 'Interbank', 'Pichincha', 'Scotibank']

# Condicionales IF, ELIF, ELSE

Ejercicio 1

Verificar si un cliente tiene ingreso > 3000.

In [ ]:
client_salary = float(input("Ingrese su salario mensual: "))

if client_salary > 3000:
  print("\nSu ingreso mensual es mayor a S/.3,000.00")
else:
  print("\nSu ingreso mensual es menor a S/.3,000.00")

Ingrese su salario mensual: 3500

Su ingreso mensual es mayor a S/.3,000.00

Ejercicio 2

Evaluar edad para otorgar tarjeta de cr√©dito.

In [ ]:
client_age = int(input("Ingrese su edad: "))

if client_age >= 18:
  print("\nUsted tiene edad para acceder a una tarjeta de credito.")
else:
  print("\nUsted tiene edad para acceder a una tarjeta de credito.")

Ingrese su edad: 24

Usted tiene edad para acceder a una tarjeta de credito.

Ejercicio 3

Evaluar un score de cr√©dito.

In [ ]:
credit_score = int(input("Ingrese la cantidad de cuotas vencidas: "))

if credit_score >= 3:
  print('\nUsted tiene un score crediticio "Muy Bajo".')
elif credit_score >=1:
  print('\nUsted tiene un score crediticio "Bajo".')
else:
  print('\nUsted tiene un score crediticio "Bueno".')

Ingrese la cantidad de cuotas vencidas: 0

Usted tiene un score crediticio "Bueno".

Ejercicio 4

Verificar si una cuenta tiene saldo negativo.

In [ ]:
money_account = float(input("Ingrese su saldo en su cuenta de ahorros: "))

if money_account > 0:
  print('\nSu estado de cuenta es positivo.')
elif money_account == 0:
  print('\nSu cuenta tiene 0 soles.')
else:
  print('\nSu estado de cuenta es negativo.')

Ingrese su saldo en su cuenta de ahorros: 200

Su estado de cuenta es positivo.

Ejercicio 5

Comparar dos tasas de inter√©s.

In [ ]:
rate_1 = float(input("Ingrese la tasa de interes N¬∞1: "))
rate_2 = float(input("Ingrese la tasa de interes N¬∞2: "))

if rate_1 > rate_2:
  print('\nLa tasa de interes 1 es mayor a la tasa de interes 2.')
elif rate_1 == rate_2:
  print('\nLa tasa de interes 1 es igual a la tasa de interes 2.')
else:
  print('\nLa tasa de interes 1 es menor a la tasa de interes 2.')

Ingrese la tasa de interes N¬∞1: 0.20
Ingrese la tasa de interes N¬∞2: 0.56

La tasa de interes 1 es menor a la tasa de interes 2.

Ejercicio 6

Evaluar si un cliente tiene m√°s de 3 productos financieros.

In [ ]:
finance_products = int(input("Ingrese la cantidad de productos financieros que tiene: "))

if finance_products > 3:
  print('\nEl cliente cuenta con m√°s de 03 productos financieros.')
elif finance_products == 3:
  print('\nEl cliente cuenta con de 03 productos financieros.')
else:
  print('\nEl cliente cuenta con menos de 03 productos financieros.')

Ingrese la cantidad de productos financieros que tiene: 5

El cliente cuenta con m√°s de 03 productos financieros.

Ejercicio 7

Determinar si un monto depositado supera los 10,000.

In [ ]:
deposit_amount = float(input("Ingrese la cantidad de dinero depositada: "))

if deposit_amount > 10000:
  print("\nEl dinero depositado ha superado los S/.10,000.")
elif deposit_amount == 10000:
  print("\nEl dinero depositado es S/.10,000.")
else:
  print("\nEl dinero depositado no supera los S/.10,000.")

Ingrese la cantidad de dinero depositada: 45000

El dinero depositado ha superado los S/.10,000.

# **Diccionarios**

Ejercicio 1

Crear un diccionario con datos de un cliente.

In [ ]:
client = {
    "Nombres": "Miguel Angel",
    "Apellidos": "Pinto Ponce",
    "Edad": "30",
    "Fecha de nacimiento": "17/06/1994",
    "Saldo": "8,500"
}
print(client)

{'Nombres': 'Miguel Angel', 'Apellidos': 'Pinto Ponce', 'Edad': '30', 'Fecha de nacimiento': '17/06/1994', 'Saldo': '8,500'}

Ejercicio 2

Acceder al saldo del cliente.

In [ ]:
print(client["Saldo"])

8,500

Ejercicio 3

Modificar el saldo.

In [ ]:
client["Saldo"] = "6,500"
print(client)

{'Nombres': 'Miguel Angel', 'Apellidos': 'Pinto Ponce', 'Edad': '30', 'Fecha de nacimiento': '17/06/1994', 'Saldo': '6,500'}

Ejercicio 4

Agregar una nueva llave 'tarjeta_credito'.

In [ ]:
client["Tarjeta de Credito"] = "BCP"

print(client)

{'Nombres': 'Miguel Angel', 'Apellidos': 'Pinto Ponce', 'Edad': '30', 'Fecha de nacimiento': '17/06/1994', 'Saldo': '6,500', 'Tarjeta de Credito': 'BCP'}

Ejercicio 5

Eliminar el nombre del cliente.

In [ ]:
del client["Nombres"]

print(client)

{'Apellidos': 'Pinto Ponce', 'Edad': '30', 'Fecha de nacimiento': '17/06/1994', 'Saldo': '6,500', 'Tarjeta de Credito': 'BCP'}

# FOR

Ejercicio 1

Recorrer una lista de tasas de inter√©s.

In [2]:
interest_rate = ["1.35%", "3.5%", "7.8%", "5.3%", "6.7%"]
j = 0
for i in interest_rate:
  j = j + 1
  print(f"\nLa tasa de interes N¬∞{j}: {i}")

La tasa de interes N¬∞1: 1.35%

La tasa de interes N¬∞2: 3.5%

La tasa de interes N¬∞3: 7.8%

La tasa de interes N¬∞4: 5.3%

La tasa de interes N¬∞5: 6.7%

Ejercicio 2

Sumar todos los saldos de una lista.

In [6]:
list_1 = [4400, 450, 250, 540, 1300, 275]
print(list_1)
sum(list_1)

[4400, 450, 250, 540, 1300, 275]

7215

Ejercicio 3

Recorrer una lista de precios de productos ecommerce y aplicar descuento de 10%.

In [13]:
ecommerce_list = [130, 200, 35, 145, 79, 210]
print(ecommerce_list)

for i in range(len(ecommerce_list)):
  ecommerce_list[i] = round(ecommerce_list[i] * 0.9,2)
print(ecommerce_list)

[130, 200, 35, 145, 79, 210]
[117.0, 180.0, 31.5, 130.5, 71.1, 189.0]

Ejercicio 4

Contar cu√°ntos productos tienen un precio mayor a 100.

In [15]:
j = 0
for i in range(len(ecommerce_list)):
  if ecommerce_list[i] >100:
    j = j + 1
print(f"\nLa cantidad de productos con precio mayor a S/.100.00 es: {j}")

La cantidad de productos con precio mayor a S/.100.00 es: 4

Ejercicio 5

Recorrer campa√±as de marketing y mostrar su nombre.

In [18]:
marketing_campaings = ["Campa√±a 1", "Campa√±a 2", "Campa√±a 3", "Campa√±a 4", "Campa√±a 5"]
for i in range(len(marketing_campaings)):
  print(f"\n{marketing_campaings[i]}")

Campa√±a 1

Campa√±a 2

Campa√±a 3

Campa√±a 4

Campa√±a 5

Ejercicio 6

Recorrer un diccionario de clientes con saldo y mostrar solo los que tengan saldo > 2000.

In [19]:
clients_saves = {2000, 2400, 2500, 1500, 2300, 3020, 5000}
for i in clients_saves:
  if i > 2000:
    print(i)

2400
2500
2300
5000
3020

Ejercicio 7

Recorrer una lista de emails de clientes y contar los que terminan en "@gmail.com".

In [20]:
clients_emails = ["mjota@yahoo.es", "lcabrera@gmail.com", "dponte@orazul.com", "ccardenas@gmail.com", "jlopez@hotmail.com"]
for i in clients_emails:
  if i.endswith("@gmail.com"):
    print(i)

lcabrera@gmail.com
ccardenas@gmail.com

# Mini Proyecto

"Evaluador de Clientes Hipotecarios"

Contexto:
Un banco quiere evaluar a sus clientes para ofrecerles un nuevo cr√©dito hipotecario.
Cada cliente tiene datos como: nombre, ingreso mensual, deudas actuales y n√∫mero de productos contratados.

Objetivo:
1. Crear la base de datos de clientes usando un diccionario.
2. Usar for para recorrer todos los clientes.
3. Aplicar condicionales para clasificar:
   - "Elegible" si su ingreso anual es mayor a 36,000 soles, sus deudas son menores a 15,000 soles y tiene al menos 2 productos contratados.
   - "Requiere Evaluaci√≥n" si cumple solo algunas condiciones.
   - "No Elegible" si no cumple ninguna condici√≥n.
4. Mostrar el resultado bien formateado por cliente.

Instrucciones

1. Crea un diccionario llamado clientes con al menos 5 clientes.
2. Cada cliente tendr√°:
   - Nombre (str)
   - Ingreso mensual (float)
   - Deudas (float)
   - N√∫mero de productos contratados (int)
3. Calcula el ingreso anual (ingreso mensual √ó 12).
4. Usa un for para recorrer cada cliente.
5. Usa if, elif, else para clasificarlo en una de las tres categor√≠as.
6. Muestra en pantalla: Cliente: {nombre} - Resultado: {clasificaci√≥n}

# üî• Nivel extra:

1. Ingresa manualmente los clientes (input).
2. Calcula la diferencia absoluta (abs) entre ingreso anual y deudas.
3. Redondea (round) el ingreso anual al n√∫mero entero m√°s cercano.