<a href="https://colab.research.google.com/github/mpintoponce/python_utec/blob/main/Modulo01%3AFundamentos/4.%20Estructuras_de_control_Repetitivas_I/Estructuras_de_control_Repetitivas_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Introducción a Diccionarios

**¿Qué es un diccionario?**

Es una colección de datos en formato clave: valor.

Permite acceder a la información mediante claves, no por posición como las listas.

**¿Para qué sirve?**

Ideal para representar objetos del mundo real.

Muy útil en el sector financiero para almacenar datos de clientes, productos financieros, tasas, etc.

Ejemplo:

In [ ]:
cliente = {
    "nombre": "Ana",
    "edad": 35,
    "ingreso": 4500,
    "morosidades": 0
}
print(cliente["ingreso"])  # Acceder al ingreso del cliente

In [8]:
student = {
    "name": "Miguel",
    "age": 25,
    "DNI": 74326665,
    "Código UNI": '20122638D'
}
print(student['age'])

25

In [17]:
student["Fecha de nacimiento"] = "17/06/1994"
student

{'name': 'Miguel',
 'age': 25,
 'DNI': 74326665,
 'Código UNI': '20122638D',
 'Fecha de nacimiento': '17/06/1994'}

In [18]:
print(student)

{'name': 'Miguel', 'age': 25, 'DNI': 74326665, 'Código UNI': '20122638D', 'Fecha de nacimiento': '17/06/1994'}

In [24]:
new_student = {}
new_student["name"] = "Miguel"
new_student["age"] = 25
new_student["salary"] = 10000
new_student # De esta manera imprimimos el diccionario.

{'name': 'Miguel', 'age': 25, 'salary': 10000}

In [25]:
new_student["salary"] = 12000 # De esta manera, cambiamos el valor de una característica de la llave (en este caso 'salary')
new_student

{'name': 'Miguel', 'age': 25, 'salary': 12000}

**Diccionario de diccionarios**

In [50]:
# De esta manera se crean un diccionario que almacene varios diccionarios
students = {
    "001": {"name": "Miguel", "age": 30, "salary": 8000},
    "002": {"name": "Luis", "age": 29, "salary": 10000},
    "003": {"name": "Ana", "age": 31, "salary": 9000},
    "004": {"name": "Sofía", "age": 28, "salary": 7000}
}

In [37]:
students['001']["name"] = "Manuel"
students

{'001': {'name': 'Manuel', 'age': 30, 'salary': 8000},
 '002': {'name': 'Luis', 'age': 29, 'salary': 10000},
 '003': {'name': 'Ana', 'age': 31, 'salary': 9000},
 '004': {'name': 'Sofía', 'age': 28, 'salary': 7000}}

In [51]:
students["001"]["gender"] = "M" # Esto demuestra que cada diccionario es independiente.
students
# Si quiero agregar una categoría en cada diccionario interno, debería hacerlo para cada diccionario.

{'001': {'name': 'Miguel', 'age': 30, 'salary': 8000, 'gender': 'M'},
 '002': {'name': 'Luis', 'age': 29, 'salary': 10000},
 '003': {'name': 'Ana', 'age': 31, 'salary': 9000},
 '004': {'name': 'Sofía', 'age': 28, 'salary': 7000}}

In [52]:
# Eliminar algo dentro de un diccionario
del students["002"]["salary"]
students

{'001': {'name': 'Miguel', 'age': 30, 'salary': 8000, 'gender': 'M'},
 '002': {'name': 'Luis', 'age': 29},
 '003': {'name': 'Ana', 'age': 31, 'salary': 9000},
 '004': {'name': 'Sofía', 'age': 28, 'salary': 7000}}

**Cómo acceder a valores:**

Usando la clave: diccionario["clave"]

**Añadir nuevo par clave-valor:**

In [ ]:
cliente["tipo_credito"] = "Hipotecario"

**Empezar con un diccionario vacío:**

In [ ]:
nuevo_cliente = {}
nuevo_cliente["nombre"] = "Luis"
nuevo_cliente["ingreso"] = 3000

**Modificar valores:**

In [ ]:
cliente["ingreso"] = 5000

**Eliminar pares clave-valor:**

In [ ]:
clientes = {
    "001": {"nombre": "Ana", "ingreso": 4000},
    "002": {"nombre": "Luis", "ingreso": 3000}
}

**Ejercicio 1:**

Crea un diccionario para un producto financiero con claves como nombre, tasa de interés y tipo. Luego accede a la tasa de interés y modifícala.

In [54]:
finance_product = {
    "name": "Savings Account",
    "interest_rate": 0.05,
    "type": "Fixed-Income"
}
print(finance_product)

finance_product["interest_rate"] = 0.06
print(finance_product)

{'name': 'Savings Account', 'interest_rate': 0.05, 'type': 'Fixed-Income'}
{'name': 'Savings Account', 'interest_rate': 0.06, 'type': 'Fixed-Income'}

**Ejercicio 2:**

Crea un diccionario de 3 clientes con su nombre e ingresos. Agrega un nuevo cliente. Luego, elimina uno de los existentes.

In [59]:
# Creando una biblioteca de bibliotecas
bd_clients = {
    "00001": {"name": "Ana", "salary": 7000},
    "00002": {"name": "Luis", "salary": 7500},
    "00003": {"name": "Sofía", "salary": 8000}
}

print(bd_clients)

# Agregando un nuevo cliente
bd_clients["00004"] = {"name": "Miguel", "salary": 10000}
print(f'\n{bd_clients}')

# Eliminando un cliente
del bd_clients["00002"]
print(f'\n{bd_clients}')

{'00001': {'name': 'Ana', 'salary': 7000}, '00002': {'name': 'Luis', 'salary': 7500}, '00003': {'name': 'Sofía', 'salary': 8000}}

{'00001': {'name': 'Ana', 'salary': 7000}, '00002': {'name': 'Luis', 'salary': 7500}, '00003': {'name': 'Sofía', 'salary': 8000}, '00004': {'name': 'Miguel', 'salary': 10000}}

{'00001': {'name': 'Ana', 'salary': 7000}, '00003': {'name': 'Sofía', 'salary': 8000}, '00004': {'name': 'Miguel', 'salary': 10000}}

# 2. For en Python

**¿Qué es for?**

Una estructura de control repetitiva.

Se usa para recorrer elementos de una lista, string o diccionario.

**¿Para qué sirve?**

Automatizar procesos repetitivos, como revisar múltiples clientes o productos financieros.

**Sintaxis básica:**

In [ ]:
for cliente in lista_clientes:
    print(cliente)

**¿Por qué es repetitiva?**

Porque ejecuta el mismo bloque de código por cada elemento en la secuencia.

In [ ]:
ingresos = [1000, 2000, 3000]
for ingreso in ingresos:
    print("Ingreso anual:", ingreso * 12)

Ejemplo 2: Recorrer un diccionario de clientes

In [ ]:
for id_cliente in clientes:
    print("ID:", id_cliente, "Ingreso:", clientes[id_cliente]["ingreso"])

Ejemplo 3: Contar cuántos clientes tienen ingreso > 3000

In [ ]:
contador = 0
for cliente in clientes.values():
    if cliente["ingreso"] > 3000:
        contador += 1
print("Clientes con alto ingreso:", contador)

Ejemplo 4: Crear una lista con tasas ajustadas

In [ ]:
tasas = [0.05, 0.07, 0.08]
tasas_ajustadas = []
for tasa in tasas:
    tasas_ajustadas.append(tasa + 0.01)
print(tasas_ajustadas)

Ejemplo 5: Reporte de evaluación

In [ ]:
clientes = ["Ana", "Luis", "Sofía"]
for nombre in clientes:
    print(f"Evaluación enviada a {nombre}")